
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}



.sidebar__bg__img {
  background-image: url(../assets/bgWhite.png);
  background-size: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}

.header__container {
  background: url(../assets/bgIMG.png); 
  background-size: cover;
}

.header__bg_circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(#edf2f8, #6b7688be);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 0;
}


.spec-shadow {
  background: #fff;
  box-shadow: inset 8px 8px 8px #d3e3f3,
                                inset -8px -8px 8px rgb(255, 255, 255);
}



.login-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #f2f3f7;
}

.login-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  color: #5a84a2;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 10px;
  background: #ecf0f3;
  -webkit-box-shadow: 13px 13px 20px #cbced1,
 -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1,
 -13px -13px 20px #fff;
}

.login-container form .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  border-radius: 49px;
  padding: .5rem 1rem;
  border: none;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1,
 inset -8px -8px 8px #fff;
          box-shadow: inset 8px 8px 8px #cbced1,
 inset -8px -8px 8px #fff;
}

.login-container form .inp svg {
  height: 22px;
  color: #5a84a2;
  margin-right: 1rem;
}

.login-container form .inp input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #5a84a2;
  text-transform: capitalize;
}

.login-container form .btn {
  background: #24cfaa !important;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 8px #b1b1b1,
 -3px -3px 8px #fff;
          box-shadow: 3px 3px 8px #b1b1b1,
 -3px -3px 8px #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.login-container form .btn:hover {
  background: #3cdfbb !important;
}

.login-container form .forgot-password {
  padding-top: 1rem;
  color: #999;
  text-align: center;
}

.login-container form .forgot-password .forgot {
  text-decoration: none;
  color: #999;
}

.login-container form .forgot-password .forgot:hover {
  color: #777;
}

.login-container form .forgot-password span {
  font-weight: 700;
  color: #5a84a2;
}












